<h2></h2>
<h4>Lista de amigos</h4>

<ng-container *ngIf="contactoSeleccionado; else errorContacto">
  <h2>Tu amigo invisible es: {{ contactoSeleccionado.nombre }} {{ contactoSeleccionado.apellido }} </h2>
</ng-container>

<ng-template #errorContacto>
  <h2 *ngIf="!contactoSeleccionado">Selecciona un contacto: </h2>
</ng-template>


<button (click)="navegarAContacts()"> Ver tus contactos</button>


<div>
  <h3>Lista filtrada por genero:</h3>
  <a [routerLink]="['/contacts']" [queryParams]="{ sexo: 'hombre' }">HOMBRE || </a>
  <a [routerLink]="['/contacts']" [queryParams]="{ sexo: 'mujer' }">MUJER</a>
</div>
